html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    font-family: "Lato", sans-serif;
    background: linear-gradient(#16161d, #1f1f3a, #3b2f4a);
    overflow-x: hidden;
    width: 100vw;
    height: 100vw;
  background-attachment: fixed;

}

h1{color: white;}
